<html>
<head>
<link rel="stylesheet" href="{{url_for('static', filename='css/error.css')}}">
<script src="{{url_for('static', filename='js/error.js')}}"></script>
<title>
error page
</title>
</head>
<body>
<section class='content'>
		  <div class='planet'></div>
  	<div class='astronauta'></div>
  	<div class='text'>
    			<h1>Ooops!</h1>
    		<h2>Entered Username or password is not valid</h2>
    		<h3>We'll bring it right back.<span id='countdown'>10</span>s.</h3>
  </div>
</section>
</body>
</html>
